@charset "utf-8";

.square_wrap{
	margin:auto;
	width:300px;
}

.square_list{
	margin:0px;
	padding:0px;
	float: left;
}

.squares{
	width:20px;
	height:20px;
	margin:10px 5px;
	background-color:#2ecc71;
	list-style-type: none;
}

.selected{
	background-color:#d35400;
}